.action-container{
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.action-container span:hover {
    color: #CCC;
    cursor: pointer;
    scale: 1.2;
    text-shadow: 4px 4px 4px black;

    rotate: 360deg;

    transition: 0.4s;
}